<h2><%= @g.name %></h2>

<h4>Upcoming Appointments</h4>
<ul>
	<% @appts.each do |a| %>
		<% if a.upcoming? %>
			<li>
				<p class="name"><a href="/pet/<%= a.pet.id %>"><%= a.pet.name %></a></p>
				<p class="date"><%= a.prettytime %></p>
				<p class="info">
					<a href="/appt/<%= a.id %>">Info</a>
				</p>
			</li>
		<% end %>
	<% end %>
</ul>

<h4>Past Appointments</h4>
<ul>
	<% @appts.each do |a| %>
		<% if a.past? %>
			<li>
				<p class="name"><a href="/pet/<%= a.pet.id %>"><%= a.pet.name %></a></p>
				<p class="date"><%= a.prettytime %></p>
				<p class="info">
					<a href="/appt/<%= a.id %>">Info</a>
				</p>
			</li>	
		<% end %>
	<% end %>
</ul>

<form method="post" action="/groomer/<%= @g.id %>">
	<input type="hidden" name="_method" value="delete"></input>
	<input type="submit" value="Delete Groomer"></input>
</form>